<div class="reset-pwd-container">
  <h3>root password modification</h3>
  <p class="tips">
    This will generate and set a new root password.
    If you'd like to set a custom password, then you would have to use SSH client or Interactive root shell.
  </p>
  <div>
    <button mat-raised-button color="warn" [disabled]="!canRestPwd" (click)="resetPassword()">rest root password
    </button>
    <p>current password is: <span class="pwd">{{prevPwd}}</span></p>
  </div>
</div>
<mat-divider></mat-divider>
