.dc {
  color: cornflowerblue;
  padding-left: 8px;
}

.tips {
  margin: 0 auto;
  width: 300px;
  text-align: left;
  color: red;
  size: 12px;
  word-break: break-word;
}

.migrate-dc-container {
  padding-top: 20px;
}
