.vps-common-container {
  padding-top: 20px;
  text-align: center;
  justify-content: center;
}

.tips {
  margin: 0 auto;
  width: 300px;
  text-align: left;
  color: red;
  size: 12px;
  word-break: break-word;
}

.pwd, .dc {
  color: cornflowerblue;
}

.dc {
  padding-left: 8px;
}

mat-option {
  width: 500px;
}

.reinstall-os-container, .reset-pwd-container, .migrate-dc-container {
  padding-top: 20px;
}
